$darkBlack: #000;
$black: #1f1c1c;
$orange: #f46a06;
$lightOrange: #f1e8d7;
$iconOrange: #ec9615;
$white: #fff;
$green: #296049;
$pink: #e27287;
$skyblue: #e7fafe;
$textGray: #555555;
$darkGray: #808080;
$gray: #ccc;
$lightGray: #f2f2f2;
$shadowColor: #00000012;
$red: #eb6c6d;
