@import "colors";
@import "fonts";
@import "mixins";

.main-container{
    width: 100%;
    height: 100vh;
    background-color: $orange;
    @include flex-center;
    .contents-container{
        background-color: $lightOrange;
        padding: 1rem;border-radius: 10px;
        .main-contents{
            background-color: $white;padding: 2rem;
            border-radius: 10px;
        }
    }
    button{
        background-color: $orange;
        color: $white;
    }
}