@import "colors";
@import "fonts";
@import "mixins";

.info-container {
  background-color: $white;
  border-radius: 10px;
  .header {
    padding: 1rem;
    font-size: 20px;
    font-family: $quickSand;
  }
  .info-contents {
    padding: 1rem;
    textarea {
      height: 120px;
    }
  }
  button {
    color: $white;
    background: $orange;
  }
}
