@import "colors";
@import "fonts";
@import "mixins";

.welcome-main-container {
  min-height: 85vh;
  .welcome-container {
    margin-top: 5rem;
    padding-right: 10px;
    h2 {
      font-family: $quickSand;
      font-size: 48px;
      color: #000;
    }
    p {
      color: $textGray;
      font-family: $roboto;
      margin-top: 1.5rem;
    }
    h3 {
      font-family: $roboto;
      font-weight: 800;
      color: $textGray;
    }
    button {
      margin-top: 1rem;
      background: $orange;
      border: none;
      color: $white;
      padding: 0.7rem 2.5rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      font-family: $roboto;
    }
  }
}

.nearest-facilities-list-tab {
  margin-top: 2rem;
  @include flex-space;
  h2 {
    font-family: $quickSand;
    color: $darkBlack;
  }
  div {
    @include flex-space;
    h2 {
      font-size: 20px;
    }
    button {
      border: none;
      color: $white;
      margin-left: 10px;
      padding: 0.5rem 1rem;
      background-color: $orange;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
    }
  }
}

.facilities-main-container {
  margin: 15px;
  padding: 5rem;
  border-radius: 10px;
  border: 2px solid $gray;
  .tabs-container {
    position: relative;
    background-color: $lightOrange;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0px 1rem;
    padding: 2rem 5rem;

    ul {
      margin: 0;
      padding: 0px;
      @include flex-space;
      li {
        list-style: none;
        font-family: $quickSand;
        color: $black;
        font-size: 32px;
        &:hover {
          cursor: pointer;
          color: $orange;
        }
      }
      li.active {
        color: $orange;
      }
    }
    .cart-container {
      position: absolute;
      top: -15px;
      right: -10px;
      .contents {
        position: relative;
        @include flex-center;
        border: 1px solid $black;
        background-color: $lightOrange;
        box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
        border-radius: 100%;
        height: 50px;
        width: 50px;
        .counter {
          position: absolute;
          top: -15px;
          right: -5px;
          background-color: $white;
          padding: 5px;
          border-radius: 100%;
          border: 1px solid $black;
          color: $orange;
          height: 30px;
          width: 30px auto;
          @include flex-center;
        }
      }
    }
  }
}

.facility-container {
  background-color: $lightOrange;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  .img {
    width: 100%;
    height: 300px !important;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
  .title-container {
    @include flex-center;
    padding: 1rem 15px;
    a {
      text-decoration: none !important;
      &:hover {
        color: $orange;
      }
    }
    div {
      background-color: $white;
      width: 100%;
      text-align: center;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      h3 {
        font-size: 25px;
        text-transform: capitalize;
        color: $darkBlack;
        margin: 0;
        padding: 0;
        font-family: $quickSand;
      }
    }
  }
}

.about-main-container {
  h2 {
    color: $orange;
    font-family: $quickSand;
  }
  p {
    margin-left: 5rem;
    margin-top: 3rem;
    font-family: $roboto;
    font-size: 25px;
  }
}
